.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clock div p {
  font-size: 50px;
}

#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 2em;
}

#svg #bar {
  stroke: #FF9F1E;
}

#cont {
  display: block;
  height: 400px;
  width: 400px;
  margin: 2em auto;
  box-shadow: 0 0 1em black;
  border-radius: 100%;
  position: relative;
}

#cont:after {
  position: absolute;
  display: block;
  height: 320px;
  width: 320px;
  left: 50%;
  top: 50%;
  box-shadow: inset 0 0 1em #888;
  content: attr(data-ptt);
  margin-top: -160px;
  margin-left: -160px;
  border-radius: 100%;
  line-height: 320px;
  font-size: 2em;
  text-shadow: 0 0 0.5em black;
}

svg:not(:root) {
  overflow: visible;
}

.values .content {
  padding:5px;
}


@media screen and (max-width : 600px) {
  #cont {
  height: 200px;
  width: 200px;
}
  #cont:after {
  height: 160px;
  width: 160px;
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 100%;
  line-height: 160px;
}
}

